<!doctype html>
<title>David's Super-Secret Portal</title>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>

<header id="branding">
    <h1>David's Super-Secret Portal</h1>
    <ul>
        <li><a href="index">Index</a></li>
        <li><a href="tessffi">TESS FFI Map</a></li>
        <li><a href="exomast">ExoMAST Plot</a></li>
        <li><a href="tessexomast">TESS FFI Map with ExoMAST</a></li>
        <!--<li><a href="https://github.com/dr-rodriguez/DR-Portal">GitHub</a></li>-->
    </ul>
</header>

<div class=page>

    <h3>TESS Workshop 2019 Hack</h3>
    <p>This app queries MAST through astroquery to retrive the first 5 sectors of TESS FFI data
    and plots them in the sky in equatorial, galactic, and ecliptic coordinates with a Hammer projection.</p>
    <p>It also queries a NoSQL (mongoDB) database copy of ExoMAST to generate some plots of its contents.</p>
    <p>The source code for this app can be found in
        <a href="https://github.com/dr-rodriguez/TESSWorkshop2019">https://github.com/dr-rodriguez/TESSWorkshop2019</a></p>

</div>
