<!doctype html>
<title>David's Super-Secret Portal</title>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>

<header id="branding">
    <h1>David's Super-Secret Portal</h1>
    <ul>
        <li><a href="index">Index</a></li>
        <li><a href="tessffi">TESS FFI Map</a></li>
        <!--<li><a href="https://github.com/dr-rodriguez/DR-Portal">GitHub</a></li>-->
    </ul>
</header>

<!--<div class=page>-->

    <!--<h2>Load up a FITS image:</h2>-->
    <!--<form>-->
        <!--<input type=file name=file><input type=submit value="Load my file">-->
    <!--</form>-->
    <!--<p>(This doesn't do anything... yet)</p>-->

<!--</div>-->
